{% extends 'base.html' %}
{% block content %}

<div class="py-3">
  <h4> {{ title }} 퀘스트 </h4>
  <hr>
</div>
<div class="table-responsive text-nowrap">
    <table class="table table-bordered">
        <thead class="thead-light ">
            <tr>
                <th scope="col">수주</th>
                <th scope="col">퀘스트</th>
                <th scope="col">목표</th>
                <th scope="col">필드</th>
                <th scope="col">제한시간</th>
            </tr>
        </thead>
        <tbody>
        {% if not quest_list %}
            <tr>
                <td>준비중입니다</td>
            </tr>
            {% else %}
            {% for quest in quest_list %}
            <tr>
                <td><a href="#">{{ quest.source }}</a> {{ quest.source_star }} </td>
                <td><a href="{{ url_for('quest.quest_detail', quest_id=quest.id) }}">{{ quest.name }}</a></td>
                <td> {{ quest.goal }} </td>
                <td><a href="{{ url_for('field.field_detail', field_name=quest.field_name) }}">
                    {{ quest.field_name }}</a></td>
                <td>{{ quest.time_limit }}분</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}