{% extends 'base.html' %}
{% block content %}
<div class="py-3">
    <h4> {{ material.name }} </h4>
    <hr>
</div>
<div class="row">
    <div class="col-md-auto d-flex justify-content-center">
        <div class="card  mb-3" style="width: 15rem; max-height:10rem;">
            <strong class="card-header text-center">{{ material.name }}</strong>
            <div class="card-body">
                <p class="card-text">{{ material.description }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <h5> 획득경로 </h5>
        <hr>
        <div class="row">
            <div class="col">
                <h5>몬스터</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap text-center table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>몬스터</th>
                                <th>랭크</th>
                                <th>방법</th>
                                <th>확률</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material_monster in material.material_monster_list %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('monster.monster_detail', monster_name=material_monster.monster_name) }}">
                                       {{ material_monster.monster_name }}</a>
                                </td>
                                <td>
                                    {{ material_monster.rank }}
                                </td>
                                <td>
                                    {{ material_monster.source }}
                                </td>
                                <td>
                                    {{ material_monster.drop_rate }} %
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h5>필드</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap text-center table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>필드</th>
                                <th>랭크</th>
                                <th>위치</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if material.material_field_list %}
                            {% for material_field in material.material_field_list %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('field.field_detail', field_name=material_field.field_name) }}">
                                           {{ material_field.field_name }}</a>
                                    </td>
                                    <td>
                                        {{ material_field.rank }}
                                    </td>
                                    <td>
                                        {{ material_field.area }} 번
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <td>준비중</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h5>퀘스트</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap text-center table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>퀘스트</th>
                                <th>개수</th>
                                <th>확률</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if material.material_quest_list %}
                            {% for material_quest in material.material_quest_list %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('quest.quest_detail', quest_id=material_quest.quest_id) }}">
                                           {{ material_quest.quest.name }}</a>
                                    </td>
                                    <td>
                                        {{ material_quest.material_count }}
                                    </td>
                                    <td>
                                        {{ material_quest.drop_rate }} %
                                    </td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <td>준비중</td>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}